## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored in a way that allows for efficient data retrieval and manipulation. Databases are used to store, manage, and retrieve information in various applications, ranging from simple data storage to complex data-driven applications. They provide a structured and systematic way to store and manage large volumes of data.

Databases typically consist of tables, where each table stores related data in rows and columns. These tables are organized using a schema that defines the structure of the data, including the data types and relationships between tables.

There are two main categories of databases: SQL (Structured Query Language) databases and NoSQL (Not Only SQL) databases.

Differentiating SQL and NoSQL Databases:

Data Model:

SQL Databases: SQL databases are relational databases that use a structured schema with tables and predefined relationships between tables. Data is stored in rows and columns, and the schema enforces data integrity through constraints and foreign keys.
NoSQL Databases: NoSQL databases are non-relational databases that use flexible, schema-less data models. They can store data in various formats, including key-value pairs, documents, wide-column stores, and graph databases.
Query Language:

SQL Databases: SQL databases use the SQL query language for data manipulation and retrieval. SQL is a powerful language for complex queries and joins.
NoSQL Databases: NoSQL databases use query languages specific to their data model. For example, MongoDB uses JSON-like queries, while Cassandra uses CQL (Cassandra Query Language).
Scalability:

SQL Databases: SQL databases are traditionally scaled vertically, which means you can increase the capacity of a single server by upgrading its hardware. This may have limitations in terms of scalability.
NoSQL Databases: NoSQL databases are designed for horizontal scalability, which means you can add more servers to distribute the data and workload. This makes them suitable for handling large volumes of data and high traffic.
Schema Flexibility:

SQL Databases: SQL databases have a rigid schema that must be defined before data insertion. Any changes to the schema can be complex and may require data migration.
NoSQL Databases: NoSQL databases offer schema flexibility, allowing you to add or change fields in your data on the fly without a predefined schema.
Use Cases:

SQL Databases: SQL databases are suitable for applications with complex querying needs, strong data integrity requirements, and well-defined schemas. Examples include financial systems and e-commerce platforms.
NoSQL Databases: NoSQL databases are ideal for applications that require high scalability, rapid development, and flexibility in handling unstructured or semi-structured data. Examples include social media, real-time analytics, and IoT (Internet of Things) applications.
In summary, the choice between SQL and NoSQL databases depends on the specific requirements of your application. SQL databases are best suited for structured data with complex relationships, while NoSQL databases are a better fit for unstructured or rapidly changing data that requires horizontal scalability.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) that is used to define, manage, and manipulate the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, and constraints. DDL statements do not retrieve or manipulate data stored in the database; instead, they focus on defining the structure and rules governing the data.

CREATE: The CREATE statement is used to create new database objects, such as tables, indexes, views, and schemas. It specifies the name of the object, its structure, and any constraints that apply to it.

CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE
);

DROP: The DROP statement is used to remove existing database objects, such as tables, indexes, or views, from the database. It permanently deletes the object and all associated data.

DROP TABLE employees;

ALTER: The ALTER statement is used to modify the structure of an existing database object. It can be used to add, modify, or delete columns in a table, change data types, or add constraints.

ALTER TABLE employees
ADD COLUMN email VARCHAR(100);

TRUNCATE: The TRUNCATE statement is used to remove all data from a table, but unlike DROP, it retains the table structure. It is a faster way to remove all rows from a table compared to using DELETE without specifying conditions

TRUNCATE TABLE employees;

## What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language). DML is used to interact with and manipulate data stored in a database. It consists of three main operations: INSERT, UPDATE, and DELETE, each of which serves a specific purpose in managing the data within a database.

INSERT:

The INSERT statement is used to add new records (rows) into a database table. It specifies the table's name and provides values for one or more columns, corresponding to the new record you want to insert.

INSERT INTO customers (customer_id, first_name, last_name, email)
VALUES (1, 'John', 'Doe', 'john.doe@example.com');

UPDATE:

The UPDATE statement is used to modify existing records in a database table. It specifies the table's name, sets new values for one or more columns, and includes a condition to identify which records should be updated.

UPDATE products
SET price = 29.99
WHERE product_id = 123;

DELETE:

The DELETE statement is used to remove records from a database table. It specifies the table's name and includes a condition to identify which records should be deleted. If no condition is provided, all records in the table will be deleted.

Example:

DELETE FROM orders
WHERE order_id = 456;

## What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language). DQL is specifically focused on retrieving data from a database. The primary DQL statement is SELECT, which allows you to query and retrieve data from one or more database tables.

SELECT:

The SELECT statement is used to retrieve data from one or more database tables. It allows you to specify which columns you want to retrieve, the table(s) from which to retrieve the data, and conditions that filter the results. The result of a SELECT statement is a result set, which is a table-like structure containing the retrieved data.

SELECT employee_id, first_name, last_name, salary
FROM employees
WHERE department = 'Sales';

Explain Primary Key and Foreign Key.

Primary Key:

A Primary Key is a field or combination of fields in a database table that uniquely identifies each record or row in that table. It serves as a crucial element in maintaining the integrity and consistency of the database because it ensures that each record has a unique identifier. Here are some key characteristics of a primary key:

Uniqueness: Every value in the primary key column(s) must be unique across all rows in the table. This uniqueness constraint ensures that no two records have the same identifier.

Non-Null: A primary key field cannot contain a null (empty) value. Every record in the table must have a valid and non-null value for the primary key.

Fixed: The primary key value(s) should remain relatively stable over time. It should not change frequently, as it is used to establish relationships with other tables.

Indexed: Primary keys are typically indexed in the database for efficient retrieval. This indexing enhances the speed of searching for specific records based on their primary key values.

Single or Composite: A primary key can consist of a single field or a combination of multiple fields. When it involves multiple fields, it is known as a composite primary key.

Foreign Key:

A Foreign Key is a field or combination of fields in one table that is used to establish a link between the data in two related tables. It creates a referential integrity constraint that enforces data consistency by ensuring that values in the foreign key column(s) match values in the primary key of another table. Here are some key characteristics of a foreign key:

Referential Integrity: The foreign key establishes a relationship between tables, ensuring that data in the referencing table (the one with the foreign key) corresponds to valid data in the referenced table (the one with the primary key).

Values Must Exist: Values in the foreign key column(s) must exist in the primary key column(s) of the referenced table. This constraint prevents the creation of "orphaned" records with no related data.

Cascading Actions: Depending on the database system and configuration, foreign keys can be configured to perform actions when changes occur in the referenced table. These actions include CASCADE (automatically propagate changes), SET NULL (set foreign key values to NULL), SET DEFAULT (set foreign key values to the default value), or NO ACTION (prevent changes that would violate referential integrity).

Relationship Types: Foreign keys establish various types of relationships, including one-to-one, one-to-many, and many-to-one relationships between tables, depending on how they are defined.

Example:

Consider two tables, Orders and Customers. The Orders table might have a foreign key, customer_id, which links each order to a specific customer in the Customers table. Here, customer_id is a foreign key in the Orders table, referencing the primary key, customer_id, in the Customers table. This foreign key relationship ensures that each order corresponds to a valid customer.

## Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb=mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
)
mycursor=mydb.cursor()
mycursor.execute("CREATE DATABASE IF NOT EXISTS test3")
mycursor.execute("CREATE TABLE IF NOT EXISTS test1.test_table (c1 INT, C2 VARCHAR(50), C3 INT, C4 FLOAT, C5 VARCHAR(50)) ")
mydb.close()