## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
data=[4, 8, 15, 16, 23, 42]

In [5]:
serize=pd.Series(data)

In [6]:
print(serize)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [7]:
data1=['subh','ankit','nitish',56,2002,52.36,78,True,35]

In [8]:
ser=pd.Series(data1)

In [9]:
ser

0      subh
1     ankit
2    nitish
3        56
4      2002
5     52.36
6        78
7      True
8        35
dtype: object

In [13]:
import pandas as pd
data4={
    "Name":["Alice","Bob","clair"],
    "Age": [25,30,27],
    "Gender":["Female","Male","Female"]
}
ser3=pd.DataFrame(data4)
print(ser3)

    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
2  clair   27  Female

## 4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In pandas, a DataFrame is a two-dimensional, tabular data structure that is commonly used for data manipulation and analysis. It can be thought of as a spreadsheet or SQL table, where data is organized into rows and columns. Each column in a DataFrame is a pandas Series, and these columns can contain different types of data, such as numbers, strings, or dates.

Here are some key characteristics of a DataFrame:

Tabular Structure: DataFrames are organized in a tabular format with rows and columns, making it suitable for representing structured data.

Heterogeneous Data: Each column in a DataFrame can hold different types of data, unlike a NumPy array where all elements must be of the same data type.

Labeled Axes: DataFrames have labeled rows and columns, which allows for easy indexing and selection of data.

In [4]:
import pandas as pd
data10={
    "name":["avijit","roysam","sami"],
    "cgpa":[9.8,9.5,8.6],
    "college":["kalyani","midnapore college","KNU"]
}
drf=pd.DataFrame(data10)
print("dataFrame")
print(drf)
cgpa=pd.Series([9.8,9.5,8.6])
print("\n serize")
print(cgpa)

dataFrame
     name  cgpa            college
0  avijit   9.8            kalyani
1  roysam   9.5  midnapore college
2    sami   8.6                KNU

 serize
0    9.8
1    9.5
2    8.6
dtype: float64

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Selection and Filtering:

loc[] and iloc[]: Used to select rows and columns by labels or integer-based indexing.
query(): Allows you to filter rows using a query expression.
Example: You might use these functions to filter rows based on specific conditions, such as selecting all rows where the 'Age' column is greater than 30.

Sorting:

sort_values(): Sorts the DataFrame by one or more columns.
sort_index(): Sorts the DataFrame by row or column labels.
Example: Sorting a DataFrame by the 'Salary' column in descending order.

Aggregation:

groupby(): Groups data based on one or more columns and allows you to perform aggregation operations like sum, mean, count, etc., on the groups.
agg(): Applies multiple aggregation functions to specified columns.
Example: Calculating the average salary for each department using groupby() and mean().

Data Cleaning:

fillna(): Fills missing values in the DataFrame with specified values or methods.
dropna(): Removes rows or columns with missing values.
replace(): Replaces specified values with other values.
Example: Replacing missing values in the 'Age' column with the mean age.

Creating New Columns:

You can create new columns based on existing columns or calculations.
Example: Creating a new column 'Full Name' by concatenating 'First Name' and 'Last Name' columns.

Merging and Joining:

merge(): Combines two or more DataFrames based on common columns.
concat(): Concatenates DataFrames along rows or columns.
Example: Merging employee data with department data using a common 'Department ID' column.

Pivoting and Reshaping:

pivot(), pivot_table(), melt(), stack(), unstack(): These functions help reshape the DataFrame for better analysis and visualization.
Example: Pivoting a long-format dataset into a wide format for better readability.

String Manipulation:

str.contains(), str.extract(), str.replace(): Useful for text data, these functions allow you to manipulate and extract information from string columns.
Example: Extracting email domains from a 'Email' column.

Statistical Analysis:

describe(): Provides summary statistics for numeric columns.
corr(): Calculates pairwise correlation between numeric columns.
cov(): Calculates covariance between numeric columns.
Example: Generating a summary of statistics for a dataset using describe().

Applying Functions:

apply(): Applies a custom function to each element, row, or column in the DataFrame.
Example: Applying a function to calculate a custom performance score based on 'Sales' and 'Profit' columns.

These are just a few common functions in Pandas for data manipulation. The choice of which function to use depends on the specific data manipulation or analysis task you want to perform with your DataFrame.

In [6]:
import pandas as pd
datas={
    "name":["suprakash","aviraj","suovik","riku"],
    "age":[25,23,30,38]}
daf=pd.DataFrame(datas)
sor_df=daf[daf["age"]>25]
print(sor_df)

     name  age
2  suovik   30
3    riku   38

In [8]:
sorted_val=daf.sort_values("age")
print(sorted_val)

        name  age
1     aviraj   23
0  suprakash   25
2     suovik   30
3       riku   38

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In Pandas, the Series and DataFrame are mutable, whereas the Panel is not.

Series: A Pandas Series is mutable, which means you can modify its values and indices after creation. You can change the values of individual elements, add or remove elements, or reassign values to existing indices.

DataFrame: A Pandas DataFrame is also mutable. You can modify the data within a DataFrame, add or remove columns, change column names, and perform various operations to manipulate the data in the DataFrame.

Panel: The Panel was a data structure in older versions of Pandas (before version 0.25), primarily designed for handling three-dimensional data. However, it has been removed in recent versions of Pandas (starting from version 0.25) and is no longer available in the library. Therefore, there is no concept of mutability for the Panel because it's no longer part of the Pandas library.

In summary, both Series and DataFrame are mutable data structures in Pandas, while the Panel has been deprecated and removed from the library.

In [17]:
import pandas as pd
print("the nirf data for best colleges for diffarent aspects")
universities=pd.Series(["Indian Institute of Science","Jawaharlal Nehru University","Jamia Millia Islamia","Jadavpur University","Banaras Hindu University"])
location=pd.Series(['bangalore','delhi','hydrabad','kolkata'])
ranking_eng=pd.Series([10,2,54,6])
data_colab={"university":universities,"location":location,"rank":ranking_eng}
datafra=pd.DataFrame(data_colab)
print(datafra)

the nirf data for best colleges for diffarent aspects
                    university   location  rank
0  Indian Institute of Science  bangalore  10.0
1  Jawaharlal Nehru University      delhi   2.0
2         Jamia Millia Islamia   hydrabad  54.0
3          Jadavpur University    kolkata   6.0
4     Banaras Hindu University        NaN   NaN