# Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [1]:
l=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [10]:
list(filter(lambda x: x%2==0 and x%3==0,l))

[6, 60, 90, 120]

# Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [11]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
list(map(lambda x : x**2,a))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and lambda functions Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [14]:
b=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
list(map(lambda x : str(x),b))

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

 # Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [16]:
l=list(range(26))

In [19]:
from functools import reduce
reduce(lambda x,y:x+y,l)

325

# Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.
['python', 'php', 'aba', 'radar', 'level']function.
['python', 'php', 'aba', 'radar', 'level']

In [20]:
s=['python', 'php', 'aba', 'radar', 'level']

In [21]:
list(filter(lambda s : s==s[::-1],s))

['php', 'aba', 'radar', 'level']

In [29]:

players =[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
sorted_players=sorted(players,key=lambda x:x[1])
print(sorted_players)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]